/******* COLOR VARIABLES *********/
/* salmon */
/* light salmon */
/* yellow */
/* black */
/*gray*/
/* light green */
/* dark green */
/* white */
/* light gray */
/* dark gray */
/** MY ADDITION!!! **/
/*********** FONT VARIABLES *******************/
body {
  /** why do i have to do this? why isn't this automatically 0? **/
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #484848; }

a.visited {
  color: #484848; }

.icon-star, .icon-star-half {
  color: #ffb400; }

.nav-bar {
  display: flex;
  align-items: center; }

.brand-logo {
  color: #ff5a5f;
  padding: 10px 20px;
  border-style: solid;
  border-color: #c1c1c1;
  border-width: 0 1px 0 0; }

.back-to {
  display: flex;
  align-items: baseline;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #c1c1c1;
  border-width: 0 1px 0 0;
  padding: 0 25px; }
  .back-to .icon-chevron-left {
    color: #c1c1c1; }
  .back-to p {
    color: #484848;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 5px; }

.center-nav {
  display: flex;
  align-items: baseline;
  flex: 1 auto;
  justify-content: space-between;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .center-nav .where-to {
    display: flex;
    align-items: baseline; }
    .center-nav .where-to .icon-search {
      color: #c1c1c1;
      padding: 0 15px; }
  .center-nav .membership {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0 5px;
    margin: 0 30px 0 0; }

.nav-buttons {
  display: flex;
  height: 69px; }
  .nav-buttons .navLinks p {
    height: 44.5px;
    /**is there a better way to align this?**/
    margin: 0;
    padding: 0;
    padding: 24.5px 0 0 0;
    width: 80px;
    text-align: center;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #c1c1c1; }

.image-banner {
  background-image: url("../assets/07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px; }

.property-title {
  display: flex;
  padding: 5px 300px 0 250px; }
  .property-title .user-basic-info {
    width: 200px; }
    .property-title .user-basic-info .user-avatar {
      width: 90px;
      border-radius: 45px;
      margin: 20px 0 0 0; }
    .property-title .user-basic-info p {
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      width: 90px; }
  .property-title .property-description {
    display: flex;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .property-title .property-description p {
      margin: 0;
      padding: 0; }
    .property-title .property-description .small-box {
      display: flex;
      align-items: baseline; }
      .property-title .property-description .small-box .star-box {
        padding: 0 0 0 10px; }
    .property-title .property-description .icon-caret-down {
      padding: 0 5px 0 5px; }
    .property-title .property-description .icon-box {
      width: 480px;
      display: flex;
      justify-content: space-around; }
    .property-title .property-description .icon-text-box {
      width: 480px;
      display: flex;
      justify-content: space-around; }
      .property-title .property-description .icon-text-box p {
        width: 120px;
        text-align: center; }

.property-info {
  background-color: #f5f5f5;
  height: 200px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 300px 0 250px; }
  .property-info .char-container {
    display: flex; }
    .property-info .char-container .liked-characteristics {
      background-color: #dcedec;
      color: #007a87;
      margin: 0 5px;
      border-radius: 3px;
      padding: 0 5px; }

/*# sourceMappingURL=main.css.map */
