/******* COLOR VARIABLES *********/

$brand-color: #ff5a5f;                  /* salmon */
$brand-highlight-color: #ffaa91;        /* light salmon */

$accent-icon-color: #ffb400;            /* yellow */

$body-text-color: #484848;              /* black */
$accent-text-color: #757575;            /*gray*/

$chip-bg-color: #dcedec;        /* light green */
$chip-text-color: #007a87;      /* dark green */

$body-bg-color: #ffffff;         /* white */
$bg-contrast-color: #f5f5f5;    /* light gray */
$footer-bg-color: #2b2d2e;      /* dark gray */

/** MY ADDITION!!! **/
$nav-border-color: #c1c1c1;

$facebook-brand-color: #3B5998;

$center-positioning: 5px 450px 0 120px;
$wider-positioning: 0 120px;

$calendar-positioning: 0 20px 0 20px;

$interactive-box: 45px;


/*********** FONT VARIABLES *******************/

$ff: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
$section-heading-fs: 18px;
$body-content-fs: 14px;
$subtitle-fs: 0.85em;



body {                        /** why do i have to do this? why isn't this automatically 0? **/
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $body-text-color;
}

a.visited {
  color: $body-text-color;
}

.icon-star, .icon-star-half {
    color: $accent-icon-color;
}

.text-in-salmon {
    color: $brand-color;
}

p {
    line-height: .75em;
    }

.user-basic-info {
    width: 200px;

    .user-avatar {
      width: 90px;
      border-radius: 45px;
      margin: 20px 0 0 0;
    }

    p {
      font-family: $ff;
      text-align: center;
      width: 90px;
    }
}

header {
    .nav-bar {
      display: flex;
      align-items: center;
      height: 70px;
    }

    .brand-logo {
      color: $brand-color;
      padding: 10px 20px;
      border-style: solid;
      border-color: $nav-border-color;
      border-width: 0 1px 0 0;
    }

    .back-to {
      display: flex;
      align-items: baseline;
      background-color: $bg-contrast-color;
      border-style: solid;
      border-color: $nav-border-color;
      border-width: 0 1px 0 0;
      padding: 0 25px;
      margin: 0;

      .icon-chevron-left {
        color: $nav-border-color;
      }

      p {
        color: $body-text-color;
        font-family: $ff;
        font-size: $section-heading-fs;
        padding: 5px;
      }

    }

    .center-nav {
      display: flex;
      align-items: baseline;
      flex: 1 auto;
      justify-content: space-between;
      font-family: $ff;

      .where-to {
        display: flex;
        align-items: baseline;

        .icon-search {
          color: $nav-border-color;
          padding: 0 15px;
        }
      }

      .membership {
        border-style: solid;
        border-color: black;
        border-width: 1px;
        padding: 0 5px;
        margin: 0 30px 0 0;
      }
    }

    .nav-buttons {
      display: flex;
      height: 69px;

          .navLinks {

            p {
             height: 44.5px;         /**is there a better way to align this?**/
             margin: 0;
             padding: 0;
             padding: 24.5px 0 0 0;
             width: 80px;
             text-align: center;
             font-family: $ff;
             border-style: solid;
             border-width: 0 0 0 1px;
             border-color: $nav-border-color;
            }
          }
    }
}

.image-banner {
  background-image: url('../assets/07.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;

  .calendar {
      width: 300px;
      height: 500px;
      position: absolute;
      right: 120px;
      bottom: -460px;
      z-index: 200;

      .price-container {
          padding: $calendar-positioning;
          background-color: #444;

          .price {
            display: flex;
            color: $body-bg-color;
            font-family: $ff;
            align-items: center;
            height: 40px;
            justify-content: space-between;

            .exact-amount {
              display: flex;
              align-items: center;
              font-size: $section-heading-fs;

              .icon {
                color: $accent-icon-color;
              }
            }

            .per-night {
                font-size: $body-content-fs;
            }
          }
      }

      .instant-book {
        height: 180px;
        background-color: $body-bg-color;
        border-style: solid;
        border-color: $nav-border-color;
        border-width: 1px;
        padding: $calendar-positioning;

        .calendar-description {
            display: flex;
            font-family: $ff;
            justify-content: space-between;
            padding: 0 0 20px 0;


            .dates-form {
                width: 70px;
                height: 25px;
            }

            .guests-drop-down {
              display: flex;
              align-items: center;
              height: 30px;
              border-style: solid;
              border-color: $nav-border-color;
              border-width: 1px;
              justify-content: space-around;

              p {
                font-size:$body-content-fs;
              }
            }
        }
      }


        .instant-book-box{
          background-color: $brand-color;
          height: $interactive-box;
          border-radius: 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 260px;

          .icon {
            color: $accent-icon-color;
          }

          p {
            color: $body-bg-color;
            font-family: $ff;
          }
        }
      }

      .empty-space-top {
        height: 50px;
        }

      .wish-list {
        height: 130px;
        background-color: $body-bg-color;
        border-style: solid;
        border-color: $nav-border-color;
        border-width: 1px;
        font-family: $ff;
        padding: 20px 0 0 0;
        position: relative;

        .save-to-wish-list-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border-style: solid;
          border-color: $nav-border-color;
          border-width: 1px;
          margin: $calendar-positioning;

          .icon {
            padding: 0 5px;
          }
        }

        .saved {
            text-align: center;
            font-size: $body-content-fs;
        }

        .wish-list-additional {
            height: 40px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 300px;
            display: flex;
            justify-content: space-around;
            border-style: solid;
            border-color: $nav-border-color;
            border-width: 1px 0 0 0;
            font-size: $body-content-fs;

            .icon {
                padding: 0 5px;
            }

            .email {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .messenger {
                @extend .email;
                border-style: solid;
                border-color: $nav-border-color;
                border-width: 0 1px;
                padding: 0 10px;
            }
        }

      }

      .report-listing {
        display: flex;
        font-family: $ff;
        justify-content: center;
        align-items: center;
        font-size: $body-content-fs;


        .icon {
            padding: 5px;
            }
      }
  }

.property-title {
  display: flex;
  padding: $center-positioning;
  height: 175px;

          .property-description {
            display: flex;
            font-family: $ff;

              p {
                margin: 0;
                padding: 0;
              }

              .small-box {
                display: flex;
                align-items: baseline;

                .star-box {
                    padding: 0 0 0 10px;
                }
              }

              .icon-caret-down {
                padding: 0 5px 0 5px;
              }

              .icon-box {
                width: 480px;
                display: flex;
                justify-content: space-around;
              }

              .icon-text-box {
                @extend .icon-box;
                padding: 5px 0 0 0;

                p {
                    width: 120px;
                    text-align: center;
                }
              }
          }
}

.property-info {
    background-color: $bg-contrast-color;
    font-family: $ff;
    padding: $center-positioning;
    font-size: $body-content-fs;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: $nav-border-color;


    h2 {
      font-size: $section-heading-fs;
    }

    .char-container {
      display:flex;

        .liked-characteristics {
            background-color: $chip-bg-color;
            color: $chip-text-color;
            margin: 0 5px;
            border-radius: 1.5px;
            padding: 0 5px;
            height: 25px;
            display: flex;
            align-items: center;
        }
    }

    .comments-space {
        padding: 5px 0 5px 0;
        p {
          font-size: $body-content-fs;
        }
    }

    .contact-host-letters {
        color: $brand-color;
        padding: 0 0 15px 0;
    }



    .description-sections {
      border-style: solid;
      border-color: $nav-border-color;
      border-width: 1px 0 0 0;
      display: flex;

      .column-one {
          width: 40px;
          flex: auto;
          }

      .second-set-columns {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

          .column-two {
            background-color: green;
              }

          .column-three {
              @extend .column-two;
              }

          .icon-and-text {
            display: flex;
            align-items: center;

            .icon {
            padding: 5px;
            }
          }
      }
    }
}

.comments-section {
    height: 400px;
    background-color: $body-bg-color;
    padding: $center-positioning;
}

.bottom-section {
    background-color: $bg-contrast-color;
    height: 400px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: $nav-border-color;

    .your-host {
        padding: $center-positioning;
    }

    .property-location {
        padding: $wider-positioning;

    }
}

.footer {
    background-color: $footer-bg-color;
    padding: $wider-positioning;
    height: 500px;
    font-family: $ff;
    text-align: center;
    color: $body-bg-color;

    .top-box-footer {
      display: flex;

      .left-top-footer-box {
        flex-grow: 2;
        padding: 15px 20px 0 20px;

          .icon {
            color: $accent-text-color;
          }

          .language {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #444;
            color: $bg-contrast-color;
            padding: 0 7px;
            margin: 20px 0;
            height: $interactive-box;
          }

          .currency {
            @extend .language;
          }

      }

      .right-top-footer-box {
        flex-grow: 3;
        display: flex;
        justify-content: space-around;
        padding: 15px 20px 0 20px;
        text-align: left;
        padding: 0 0 30px 0;

        h4 {
          font-size: $section-heading-fs;
        }

        p {
          color: $body-bg-color;
          font-size: $body-content-fs;
          line-height: .5em;
        }

      }
    }


    .bottom-box-footer {
      height: 60px;
      border-style: solid;
      border-color: $nav-border-color;
      border-width: 1px 0 0 0;

      .footer-icons {
        display: flex;
        justify-content: center;
        padding: 5px 0 0 0;

        .icon {
            margin: 0 12px;
            padding: 12px 15px;
            border-style: solid;
            border-color: $nav-border-color;
            border-width: 1px;
            border-radius: 40px;
            color: $body-bg-color;
        }
      }

      p {
        color: $accent-text-color;
        font-size: $body-content-fs;
        padding: 10px 0 0 0;
      }
    }
}
