/******* COLOR VARIABLES *********/

$brand-color: #ff5a5f;                  /* salmon */
$brand-highlight-color: #ffaa91;        /* light salmon */

$accent-icon-color: #ffb400;            /* yellow */

$body-text-color: #484848;              /* black */
$accent-text-color: #757575;            /*gray*/

$chip-bg-color: #dcedec;        /* light green */
$chip-text-color: #007a87;      /* dark green */

$body-bg-color: #ffffff;         /* white */
$bg-contrast-color: #f5f5f5;    /* light gray */
$footer-bg-color: #2b2d2e;      /* dark gray */

/** MY ADDITION!!! **/
$nav-border-color: #c1c1c1;

$facebook-brand-color: #3B5998;

$center-positioning: 5px 450px 0 120px;
$wider-positioning: 0 120px;

$calendar-positioning: 0 20px 0 20px;

$interactive-box: 45px;


/*********** FONT VARIABLES *******************/

$ff: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
$section-heading-fs: 18px;
$body-content-fs: 14px;
$subtitle-fs: 0.85em;


/** GENERAL INFORMATION APPLYING TO WHOLE PAGE **/

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $body-text-color;
}

a.visited {
  color: $body-text-color;
}

.star-box {
    padding: 0 0 0 10px;
    position: relative;
    display: flex;

    .star-yellow {
        position: absolute;
        left: 10px;
        top: 0;
        color: $accent-icon-color;
    }

    .star-gray {
        color: $accent-text-color;
    }
}


.text-in-salmon {
    color: $brand-color;
}

p {
 line-height: .75em;
}

.title-two {
    font-family: $ff;
    font-size: $section-heading-fs;
}

.three-dots {
  position: relative;
  top: -.25em;
  padding: 0 3px 0 0;
  }

.middle-dot {
    @extend .three-dots;
}

.host-basic-info {
  width: 200px;
}

.host-avatar {
  width: 90px;
  border-radius: 45px;
  margin: 20px 0 0 0;
}

.host-name {
  font-family: $ff;
  text-align: center;
  width: 90px;
}

.commenters-avatar {
  width: 70px;
  border-radius: 35px;
  margin: 20px 0 0 60px;
}

.commenters-name {
  font-family: $ff;
  text-align: center;
  width: 70px;
  font-size: $body-content-fs;
  padding: 0 0 0 60px;
}

.description-sections {
      display: flex;

      .column-one {
          width: 200px;
          flex: none;                           /**** !!!! *****/
      }

      .second-set-columns {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        padding: 20px 0;

          .second-set-text {
            flex: 50%;
            text-align: left;
            white-space: nowrap
          }
      }
}

.subtitle-gray {
    color: $accent-text-color;
    font-size: $body-content-fs;
}

.subtitle-black {
    color: black;
    font-size: $body-content-fs;
}


//** SPECIFIC SECTIONS OF THE PAGE**//


header {
    .nav-bar {
      display: flex;
      align-items: center;
      height: 70px;

        .brand-logo {
          color: $brand-color;
          padding: 10px 20px;
          border-style: solid;
          border-color: $nav-border-color;
          border-width: 0 1px 0 0;
        }

        .back-to {
          display: flex;
          align-items: baseline;
          background-color: $bg-contrast-color;
          border-style: solid;
          border-color: $nav-border-color;
          border-width: 0 1px 0 0;
          padding: 0 25px;
          margin: 0;
          color: $body-text-color;
          font-family: $ff;
          font-size: $section-heading-fs;
          padding: 5px;
          height: 70px;
          align-items: center;
          font-size: 16px;

          .icon-chevron-left {
            color: $nav-border-color;
          }
        }

        .center-nav {
          display: flex;
          align-items: baseline;
          flex: 1 auto;
          justify-content: space-between;
          font-family: $ff;

          .where-to {
            display: flex;
            align-items: baseline;

            .icon-search {
              color: $nav-border-color;
              padding: 0 15px;
            }
          }

          .membership {
            border-style: solid;
            border-color: black;
            border-width: 1px;
            padding: 0 5px;
            margin: 0 30px 0 0;
          }
        }

        .nav-buttons {
          display: flex;
          height: 69px;

          .navLinks {
            height: 44.5px;         /**is there a better way to align this?**/
            margin: 0;
            padding: 0;
            padding: 24.5px 0 0 0;
            width: 80px;
            text-align: center;
            font-family: $ff;
            border-style: solid;
            border-width: 0 0 0 1px;
            border-color: $nav-border-color;
          }
        }
    }
}

.image-banner {
  background-image: url('../assets/07.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 50%;                             /**** LOOK AT THIS!!***/
  position: relative;
  background-position: center center;          /**** LOOK AT THIS!!***/

  .calendar {
    width: 300px;
    height: 500px;
    position: absolute;
    right: 120px;
    bottom: -460px;
    z-index: 200;

    .price-container {
      padding: $calendar-positioning;
      background-color: #444;

      .price {
        display: flex;
        color: $body-bg-color;
        font-family: $ff;
        align-items: center;
        height: 40px;
        justify-content: space-between;

        .exact-amount {
          display: flex;
          align-items: center;
          font-size: $section-heading-fs;

          .icon {
            color: $accent-icon-color;
          }
        }

        .per-night {
            font-size: $body-content-fs;
        }
      }
    }

    .instant-book {
      height: 180px;
      background-color: $body-bg-color;
      border-style: solid;
      border-color: $nav-border-color;
      border-width: 1px;
      padding: $calendar-positioning;

      .calendar-description {
        display: flex;
        font-family: $ff;
        justify-content: space-between;
        padding: 25px 0 20px 0;
        align-items: center;

        .dates-form {
            width: 70px;
            height: 25px;
        }

        .guests-drop-down {
          display: flex;
          align-items: center;
          height: 30px;
          border-style: solid;
          border-color: $nav-border-color;
          border-width: 1px;
          justify-content: space-around;
          font-size: $body-content-fs;
        }
      }
    }

    .instant-book-box{
      background-color: $brand-color;
      height: $interactive-box;
      border-radius: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      color: $body-bg-color;
      font-family: $ff;

      .icon {
        color: $accent-icon-color;
      }
    }
  }

  .empty-space-top {
    height: 50px;
  }

  .wish-list {
    height: 130px;
    background-color: $body-bg-color;
    border-style: solid;
    border-color: $nav-border-color;
    border-width: 1px;
    font-family: $ff;
    padding: 20px 0 0 0;
    position: relative;

    .save-to-wish-list-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-style: solid;
      border-color: $nav-border-color;
      border-width: 1px;
      margin: $calendar-positioning;

      .icon {
        padding: 0 5px;
      }
    }

    .saved {
        text-align: center;
        font-size: $body-content-fs;
    }

    .wish-list-additional {
      height: 40px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 300px;
        display: flex;
        justify-content: space-around;
        border-style: solid;
        border-color: $nav-border-color;
        border-width: 1px 0 0 0;
        font-size: $body-content-fs;

        .icon {
            padding: 0 5px;
        }

        .email {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .messenger {
          @extend .email;
          border-style: solid;
          border-color: $nav-border-color;
          border-width: 0 1px;
          padding: 0 10px;
        }
    }
  }

  .report-listing {
    display: flex;
    font-family: $ff;
    justify-content: center;
    align-items: center;
    font-size: $body-content-fs;

    .icon {
      padding: 5px;
    }
  }
}

.property-title {
  display: flex;
  padding: $center-positioning;
  height: 175px;

  .property-description {
    display: flex;
    font-family: $ff;

    .title-property-description {
      font-size: 25px;
      padding: 20px 0 0 0;
    }

    .small-box {
      display: flex;
      align-items: baseline;
      padding: 5px 0;
    }

    .icon-caret-down {
      padding: 0 5px 0 5px;
    }

    .icon-box {
      width: 480px;
      display: flex;
      justify-content: space-around;
    }

    .icon-text-box {
      @extend .icon-box;
      text-align: center;

      .text-itself {
        width: 120px;
      }
    }

  }
}

.property-info {
  background-color: $bg-contrast-color;
  font-family: $ff;
  padding: $center-positioning;
  font-size: $body-content-fs;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: $nav-border-color;

  h2 {
    font-size: $section-heading-fs;
  }

  .char-container {
    display:flex;

    .liked-characteristics {
        background-color: $chip-bg-color;
        color: $chip-text-color;
        margin: 0 5px;
        border-radius: 1.5px;
        padding: 0 5px;
        height: 25px;
        display: flex;
        align-items: center;
    }
  }

  .comments-space {
      padding: 10px 0 10px 0;
      font-size: $body-content-fs;

      .contact-host-letters {
         color: $brand-color;
         line-height: 3em;
      }
  }

  .description-sections {
    border-style: solid;
    border-color: $nav-border-color;
    border-width: 1px 0 0 0;

    .second-set-columns {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      padding: 20px 0;

      .second-set-text {
        flex: 50%;
        white-space: nowrap;
      }

      .icon-and-text {
        @extend .second-set-text;
        display: flex;
        align-items: center;

        .icon {
          padding: 5px;
        }
      }
    }
  }

  #space {
    .text-in-salmon {
      width: 100%;
    }
  }

  #prices {
    .half-column {
       width: 50%;
    }
  }

  #description {
    .second-column-title {
      padding: 0 0 10px 0;
    }

    .subtitle-black{
      width: 100%;
    }

    .guest-access {
      @extend .subtitle-black;
      padding: 10px 0 20px 0;
    }
  }

  #rules {

    .subtitle-black{
      width: 100%;
    }

    .separating-box {
      width: 40px;
      height: 15px;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: $nav-border-color;
      margin: 0 0 10px 0;
    }
  }

  #availability {

    .subtitle-black{
       width: 50%;
    }
  }

  .bottom-images {

    .top-box {
      display: flex;
      height: 250px;

      .top-box-image {
        flex: 50%;
        padding: 0 0 3px 3px;
      }
  }

    .bottom-box {
      display: flex;
      height: 200px;
      padding: 0 0 30px 0;

      .bottom-box-image {
        width: 33.33%;                    /** why does flex not work here? I had to use width!?**/
        padding: 0 0 0 3px;
        position: relative;

        .image-with-hover {
           width: 100%;
           height: 200px;
           padding: 0 0 3px 0;
          }

        .hover-text {
          background-color: $footer-bg-color;
          position: absolute;
          color: $body-bg-color;                          /** couldn't get this to be truly white! **/
          top:0;
          left:0;
          z-index: 300;
          height: 105px;
          opacity: 0.4;
          text-align: center;
          margin: 0 0 0 3px;
          width: 99%;
          padding: 95px 0 0 0;
        }
      }
    }
  }
}

.comments-section {
  font-family: $ff;
  background-color: $body-bg-color;
  padding: $center-positioning;

  .summary-box {
    display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 40%;
      padding: 0 15px 0 0;
    }

  .review-section {
     display: flex;
     justify-content: space-between;
     padding: 25px 0 15px 0;
     border-style: solid;
     border-width: 0 0 1px 0;
     border-color: $nav-border-color;

     .star-with-review {
       display: flex;

       .review-title-text {
         font-family: $ff;
          font-size: $section-heading-fs;
       }
     }
  }

  .commenters-section {

    .second-set-columns {
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: $nav-border-color;
    }

    .helpful-box {
      display: flex;
      padding: 15px 0 0 0;
      justify-content: space-between;
      width: 100%;
      align-items: baseline;

      .helpful {
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-style: solid;
        border-width: 1px;
        border-color: $nav-border-color;
        padding: 5px 15px;
      }
    }
  }

  .square-container {
    width: 100%;
    display: flex;
    padding: 0 0 20px 0;

    .squares {
      border-style: solid;
      border-width: 1px;
      border-color: $nav-border-color;
      margin: 0 10px 0 0;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;

      .icon {
        color: $brand-color;
      }
    }

    #first-box {
      background-color: $bg-contrast-color;
    }
  }

  .view-reviews-box {
    border-style: solid;
    border-width: 1px;
    border-color: $nav-border-color;
    width: 100%;
    margin: 20px 300px 0 0;
    text-align: center;
    padding: 5px 0;
  }
}

.bottom-section {
  background-color: $bg-contrast-color;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: $nav-border-color;
  padding: 0 0 20px 0;

  .your-host {
    padding: $center-positioning;

    .title-two {
      padding: 30px 0 10px 0;
    }

    .host-in-depth {
      font-family: $ff;
    }

    .host-name {
      width: 100%;
      text-align: left;
      font-size: 20px;
      padding: 0 0 15px 0;
    }

    .subtitle-gray {
      padding: 0 0 10px 0;
    }

    .description-sections {
      border-color: $nav-border-color;
      border-width: 1px 0 0 0;
      border-style: solid;
    }

    .host-in-depth {

      .presentation {
         padding: 0 0 15px 0;
      }

      .response {
         width: 100%;
      }

      .box-with-ratings {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 0 30px 20px 0;

        .ratings-box {
          font-family: $ff;
          display: flex;
          align-items: baseline;

          .orange-box {
            background-color: #FFB400;
            color: white;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            margin: 0 5px;
          }
        }

        .checkbox {
          display: flex;
          align-items: baseline;
          font-family: $ff;
          position: relative;
          padding: 0 0 0 38px;

          .icon-tag-alt {
            color: #51B164;
            position: absolute;
            top: -15px;
            left: 0;
          }
        }
      }

      .contact-host-button {
        background-color: $brand-color;
        flex: 100%;
        color: white;
        font-family: #ff;
        align-items: center;
        height: 28px;
        border-radius: 3px;
        margin: 10px 280px 0 0;
        padding: 0 8px;
        font-family: $ff;
        font-size: 14px;
        display: flex;
        align-items: center;
      }
    }

    #facebook-button {
      padding: 0 0 10px 0;
      margin: 20px 0;
      align-items: baseline;
      border-color: $nav-border-color;
      border-width: 1px 0 0 0;
      border-style: solid;
      font-family: $ff;

      .facebook-button {
        background-color: #29487D;
        flex: 100%;
        display: flex;
        color: white;
        font-family: #ff;
        align-items: center;
        justify-content: space-between;
        height: 28px;
        border-radius: 3px;
        margin: 10px 290px 0 0;
        padding: 0 8px;
        font-family: $ff;
        font-size: 14px;
      }
    }
  }

  .suggestions {

    .subtitle-black {
      padding: 0 0 20px 0;
    }
  }

  .property-location {
    padding: $wider-positioning;

    .title-two {
      padding: 15px 0;
    }

    .similar-listings-properties {
      display: flex;
      justify-content: space-between;
      padding: 0 10px 0 0;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: $nav-border-color;
      height: 300px;

      .property-box {
        width: 32%;
        position: relative;
        font-family: #ff;

        .icon-heart {
          color: $accent-text-color;
          position: absolute;
          top: 20px;
          right: 30px;
          z-index: 300;
        }

        .icon-heart-alt {
          color: white;
          position: absolute;
          top:20px;
          right: 30px;
          z-index: 400;
        }

        .property-image {
          width: 100%;
        }

        .host-image {
          position: absolute;
          top: 180px;
          right: 20px;
          width: 60px;
          border-radius: 40px;
          border-style: solid;
          border-color: $body-bg-color;
          border-width: 2px;
        }

        .similar-listing-price {
          position: absolute;
          top: 130px;
          left: 0;
          background-color: red;
          width: 50px;
          height: 33px;
          font-family: $ff;
          padding: 7px 0 0 7px;
          color: $body-bg-color;;
          background-color: $footer-bg-color;
          opacity: 0.8;
          font-size: $section-heading-fs;

        }
          }
    }
  }
}

.footer {
  background-color: $footer-bg-color;
  padding: $wider-positioning;
  height: 500px;
  font-family: $ff;
  text-align: center;
  color: $body-bg-color;

  .top-box-footer {
    display: flex;

    .left-top-footer-box {
      flex-grow: 2;
      padding: 15px 20px 0 20px;

      .icon {
        color: $accent-text-color;
      }

      .language {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #444;
        color: $bg-contrast-color;
        padding: 0 7px;
        margin: 20px 0;
        height: $interactive-box;
      }

      .currency {
        @extend .language;
      }
    }

    .right-top-footer-box {
      flex-grow: 3;
      display: flex;
      justify-content: space-around;
      padding: 15px 20px 0 20px;
      text-align: left;
      padding: 0 0 30px 0;

      h4 {
        font-size: $section-heading-fs;
      }

      p {
        color: $body-bg-color;
        font-size: $body-content-fs;
        line-height: .5em;
      }
    }
  }

  .bottom-box-footer {
    height: 60px;
    border-style: solid;
    border-color: $nav-border-color;
    border-width: 1px 0 0 0;

    .footer-icons {
      display: flex;
      justify-content: center;
      padding: 5px 0 0 0;

      .icon {
        margin: 0 12px;
        padding: 12px 15px;
        border-style: solid;
        border-color: $nav-border-color;
        border-width: 1px;
        border-radius: 40px;
        color: $body-bg-color;
      }
    }

    p {
      color: $accent-text-color;
      font-size: $body-content-fs;
      padding: 10px 0 0 0;
    }
  }
}
