<!DOCTYPE html>
<html ng-app="angularApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=deivice-width, initial-scale=1"/>

    <title>airbnb task 2 pellego</title>

    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/font.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/icons.css"/>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angularApp.js"></script>
</head>

<body ng-controller="airbnbController">

<header>
    <div class="nav-bar">
        <div class="brand-logo">
            <i class="icon icon-airbnb icon-size-2"></i>
        </div>
        <a href="#" class="back-to">
            <i class="icon icon-chevron-left"></i>
            <p>Back to search results</p>
        </a>
        <div class="center-nav">
            <a href="#"  class="where-to">
                <i class="icon icon-search"></i>
                <p>Where to?</p>
            </a>
            <a href="#" class="membership">
                Become a host
            </a>
        </div>
        <div class="nav-buttons">                   <!--here is good place for ng-repeats!-->
            <div class="navLinks" ng-repeat="card in navCards">
                <a href="#" class="navLink">
                    {{card.page}}
                </a>
            </div>
        </div>
    </div>
</header>                           <!--header content -->

<div class="image-banner">            <!--content with picture --->
    <div class="calendar">
        <div class="price-container">
            <div class="price">
                <div class="exact-amount">
                    {{properties.price}}
                    <i class="icon icon-bolt"></i>
                </div>
                <div class="per-night">
                    Per Night
                </div>
            </div>
        </div>


        <form class="instant-book">
            <div class="booking-calendar">
                <div class="calendar-description">
                    <div class="checkin">
                        Checkin
                        <input type="text" placeholder="mm/dd/yyyy" class="dates-form">
                    </div>
                    <div class="checkout">
                        Checkout
                        <input type="text" placeholder="mm/dd/yyyy" class="dates-form">
                    </div>
                    <div>
                        Guests
                        <div class="guests-drop-down">
                            1
                            <i class="icon icon-caret-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div type="submit" value="Instant Book" class="instant-book-box">
                <i class="icon icon-bolt"></i>
                Instant Book
            </div>
        </form>

        <div class="empty-space-top "></div>

        <div class="wish-list">
            <a href="#" class="save-to-wish-list-btn">
                <i class="icon icon-heart-alt"></i>
                <p>Save to Wish List</p>
            </a>
            <div class="saved">
              <p>{{properties.saves}} travelers saved this place</p>
            </div>
            <div class="wish-list-additional">
                <a href="#"  class="email">
                    <i class="icon icon-envelope"></i>
                    Email
                </a>
                <a href="#" class="messenger">
                    <i class="icon icon-facebook-messenger"></i>
                    Messanger
                </a>
                <a href="#" class="email">
                    <span class="three-dots">...</span> More
                </a>
            </div>
        </div>
        <div class="report-listing">
            <i class="icon icon-flag"></i>
            <a href="#">Report this listing</a>
        </div>
    </div>
</div>         <!--content related to main image ---->


<div class="property-title">
    <div class="user-basic-info">
        <img class="user-avatar" src="assets/15.jpg">
        <div>    <!-- here we are going to need to extract info from a user object -->
            <p>{{users.name}}</p>
        </div>
    </div>
    <div class="property-description">
        <div>    <!-- here we are going to need to extract info from a user object -->
            <h2>{{properties.description}}</h2>
            <div class="small-box">
                <p> {{properties.city}}, {{properties.state}}, {{properties.country}} </p>
                <div class="star-box">
                    <i class="icon icon-{{icons.star}}"></i>
                    <i class="icon icon-{{icons.star}}"></i>
                    <i class="icon icon-{{icons.star}}"></i>
                    <i class="icon icon-{{icons.star}}"></i>
                    <i class="icon icon-{{icons.starHalf}}"></i>
                </div>
                <i class="icon icon-caret-down"></i>
                <p>{{properties.reviews}} reviews</p>
            </div>
            <div class="small-box">                    <!--another place to repeat information -->
               <div class="icon-box">
                   <div class="icon-in-box">
                        <i class="icon icon-entire-place icon-size-2"></i>
                    </div>
                    <div class="icon-in-box">
                        <i class="icon icon-group icon-size-2"></i>
                    </div>
                    <div class="icon-in-box">
                        <i class="icon icon-rooms icon-size-2"></i>
                    </div>
                    <div class="icon-in-box">
                        <i class="icon icon-double-bed icon-size-2"></i>
                    </div>
                </div>
            </div>
                <div class="icon-text-box">
                    <p>{{properties.type}}</p>
                    <p>{{properties.guests}}</p>
                    <p>{{properties.bedrooms}}</p>
                    <p>{{properties.beds}}</p>
                </div>
            </div>
    </div>
    <div class="property-icons">
    </div>
</div>

<div class="property-info">
    <h2> What guests liked about this place</h2>
    <div class="char-container">
        <div class="liked-characteristics" ng-repeat="like in likes">
            {{like}}
        </div>
    </div>
    <h2>About this listing </h2>
    <div class="comments-space">
        <div ng-repeat="comment in comments">
           {{comment}}
        </div>
        <a class="contact-host-letters" href="#">
            Contact Host
        </a>
    </div>



    <!--The Space-->
    <div class="description-sections">
        <div class="column-one">
            <h3>The Space</h3>
        </div>
            <div class="second-set-columns">
                <div class="second-set-text">Accomodates: <b>{{properties.guests}}</b></div>
                <div class="second-set-text">Bathrooms: <b>{{properties.baths}}</b></div>
                <div class="second-set-text"> Bedrooms: <b>{{properties.bedrooms}}</b></div>
                <a href="#"  class="text-in-salmon">
                    House Rules
                </a>
                <div class="second-set-text">Beds: <b>{{properties.beds}}</b></div>
        </div>
    </div>

    <!--Amenities-->
    <div class="description-sections">
        <div class="column-one">
            <h3>Amenities</h3>
        </div>
        <div class="second-set-columns">
                <div class="icon-and-text">
                    <i class="icon icon-internet"></i>
                    <p> Internet
                </div>
                <div class="icon-and-text">
                    <i class="icon icon-tv"></i>
                    TV
                </div>
                <div class="icon-and-text">
                    <i class="icon icon-essentials"></i>
                    Essentials
                </div>
                <div class="icon-and-text">
                    <i class="icon icon-shampoo"></i>
                    Shampoo
                </div>
                <a href="#"  class="text-in-salmon">
                    More+
                </a>
        </div>
    </div>

    <!--Prices-->
    <div class="description-sections">
        <div class="column-one">
            <h3>Prices</h3>
        </div>
        <div class="second-set-columns">
                {{currencies.USD}}{{prices.cleaningFee}}
        </div>
    </div>

    <!--The Space-->
    <div class="description-sections">
        <div class="column-one">
            <h3>Description</h3>
        </div>
        <div class="second-set-columns">
            <div><b>The Space</b></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices leo quam, vel tristique velit posuere eget. Donec eget tincidunt massa. Sed tempus iaculis nisl, non feugiat sapien ullamcorper nec. Nulla vitae odio mi. Nulla scelerisque est a ipsum scelerisque, et ornare felis blandit. Cras euismod efficitur malesuada. Pellentesque sollicitudin pharetra erat, sit amet gravida lectus vehicula in. Quisque risus leo, consectetur sed vestibulum et, placerat eu metus. Phasellus laoreet viverra nulla. Nullam non eleifend enim. Nunc ac sapien vestibulum, consequat erat sed, pretium libero. Etiam eu purus eget risus tincidunt maximus. In quis arcu vitae metus volutpat aliquet. Cras consequat, sem vel pharetra interdum, mi velit pharetra lectus, et molestie nulla lorem vitae quam. </div>
            <div><b>Guest Access</b></div>
            <a href="#"  class="text-in-salmon">
                More+
            </a>
        </div>
    </div>

    <!--House Rules-->
    <div class="description-sections">
        <div class="column-one">
            <h3>House Rules</h3>
        </div>
        <div class="second-set-columns">
            <div><b>The Space</b></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices leo quam, vel tristique velit posuere eget. Donec eget tincidunt massa. Sed tempus iaculis nisl, non feugiat sapien ullamcorper nec. Nulla vitae odio mi. Nulla scelerisque est a ipsum scelerisque, et ornare felis blandit. Cras euismod efficitur malesuada. Pellentesque sollicitudin pharetra erat, sit amet gravida lectus vehicula in. Quisque risus leo, consectetur sed vestibulum et, placerat eu metus. Phasellus laoreet viverra nulla. Nullam non eleifend enim. Nunc ac sapien vestibulum, consequat erat sed, pretium libero. Etiam eu purus eget risus tincidunt maximus. In quis arcu vitae metus volutpat aliquet. Cras consequat, sem vel pharetra interdum, mi velit pharetra lectus, et molestie nulla lorem vitae quam. </div>
            <div><b>Guest Access</b></div>
        </div>
    </div>

    <!--Safety Features-------->
    <div class="description-sections">
        <div class="column-one">
            <h3>Safety Features</h3>
        </div>
        <div class="second-set-columns">
            <div class="second-set-text" ng-repeat="feature in safetyFeatures">
                <p>{{feature}}</p>
            </div>
        </div>
    </div>

    <!------- Availability -------------->
    <div class="description-sections">
        <div class="column-one">
            <h3>Availability</h3>
        </div>
        <div class="column-two">
            <p>bla</p>
        </div>
        <div class="column-three">
            <a href="#"  class="text-in-salmon">
                <p>View Calendar</p>
            </a>
        </div>
    </div>
    <div class="description-sections">
        <div class="column-one">
            <h3>Guidebook</h3>
        </div>
        <div class="column-two">
            <p>Things to do in San fran</p>
        </div>
    </div>
</div>

<div class="comments-section">
    asdfsdf
</div>

<div class="bottom-section">
    <div class="your-host">
        <div class="user-basic-info">
            <img class="user-avatar" src="assets/15.jpg">
            <div>    <!-- here we are going to need to extract info from a user object -->
                <p>{{users.name}}</p>
            </div>
        </div>
    </div>
    <div class="property-location">
        asdfasdf
    </div>
</div>

<div class="footer">
    <div class="top-box-footer">
        <div class="left-top-footer-box">
            <div class="language">
                <p>English</p>
                <i class="icon icon-caret-down"></i>
            </div>
            <div class="currency">
                <p>USD</p>
                <i class="icon icon-caret-down"></i>
            </div>

        </div>
        <div class="right-top-footer-box">
            <div>
                <h4>Company</h4>
                <a href="#"><p>About</p></a>
                <a href="#"><p>Careers</p></a>
                <a href="#"><p>Press</p></a>
                <a href="#"><p>Blog</p></a>
                <a href="#"><p>Help</p></a>
                <a href="#"><p>Policies</p></a>
                <a href="#"><p>Disaster Response</p></a>
                <a href="#"><p>Terms & Policies</p></a>
            </div>
            <div>
                <h4>Discovery</h4>
                <a href="#"><p>Trust & Safety</p></a>
                <a href="#"><p>Travel Credit</p></a>
                <a href="#"><p>Gift Cards</p></a>
                <a href="#"><p>Airbnb Picks</p></a>
                <a href="#"><p>Mobile</p></a>
                <a href="#"><p>Airbnb Actiont</p></a>
                <a href="#"><p>Business Travel</p></a>
                <a href="#"><p>Site Map</p></a>
                </a></div>
            <div>
                <h4>Hosting</h4>
                <a href="#"><p>Why Host</p></a>
                <a href="#"><p>Hospitality</p></a>
                <a href="#"><p>Responsible Hosting</p></a>
                <a href="#"><p>Home Safety</p></a>
                <a href="#"><p>Instant Book</p></a>
            </div>
        </div>
    </div>
    <div class="bottom-box-footer">
        <h3>Join Us On</h3>
        <div class="footer-icons">
            <a href="#"><i class="icon icon-facebook"></i></a>
            <a href="#"><i class="icon icon-google-plus"></i></a>
            <a href="#"><i class="icon icon-twitter"></i></a>
            <a href="#"><i class="icon icon-linkedin"></i></a>
            <a href="#"><i class="icon icon-pinterest"></i></a>
            <a href="#"><i class="icon icon-youtube"></i></a>
            <a href="#"><i class="icon icon-instagram"></i></a>
        </div>
        <p> &copy Airbnb, Inc. </p>
    </div>

</div>


</body>
</html>