/******* COLOR VARIABLES *********/
/* salmon */
/* light salmon */
/* yellow */
/* black */
/*gray*/
/* light green */
/* dark green */
/* white */
/* light gray */
/* dark gray */
/** MY ADDITION!!! **/
/*********** FONT VARIABLES *******************/
body {
  /** why do i have to do this? why isn't this automatically 0? **/
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #484848; }

a.visited {
  color: #484848; }

.icon-star, .icon-star-half {
  color: #ffb400; }

.text-in-salmon {
  color: #ff5a5f; }

p {
  line-height: .75em; }

.three-dots {
  position: relative;
  top: -.25em;
  padding: 0 3px 0 0; }

.user-basic-info {
  width: 200px; }
  .user-basic-info .user-avatar {
    width: 90px;
    border-radius: 45px;
    margin: 20px 0 0 0; }
  .user-basic-info p {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 90px; }

header .nav-bar {
  display: flex;
  align-items: center;
  height: 70px; }
  header .nav-bar .brand-logo {
    color: #ff5a5f;
    padding: 10px 20px;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 0 1px 0 0; }
  header .nav-bar .back-to {
    display: flex;
    align-items: baseline;
    background-color: #f5f5f5;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 0 1px 0 0;
    padding: 0 25px;
    margin: 0;
    color: #484848;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 5px; }
    header .nav-bar .back-to .icon-chevron-left {
      color: #c1c1c1; }
    header .nav-bar .back-to p {
      color: #484848;
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
      padding: 5px; }
  header .nav-bar .center-nav {
    display: flex;
    align-items: baseline;
    flex: 1 auto;
    justify-content: space-between;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    header .nav-bar .center-nav .where-to {
      display: flex;
      align-items: baseline; }
      header .nav-bar .center-nav .where-to .icon-search {
        color: #c1c1c1;
        padding: 0 15px; }
    header .nav-bar .center-nav .membership {
      border-style: solid;
      border-color: black;
      border-width: 1px;
      padding: 0 5px;
      margin: 0 30px 0 0; }
  header .nav-bar .nav-buttons {
    display: flex;
    height: 69px; }
    header .nav-bar .nav-buttons .navLinks {
      height: 44.5px;
      /**is there a better way to align this?**/
      margin: 0;
      padding: 0;
      padding: 24.5px 0 0 0;
      width: 80px;
      text-align: center;
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      border-style: solid;
      border-width: 0 0 0 1px;
      border-color: #c1c1c1; }

.image-banner {
  background-image: url("../assets/07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative; }
  .image-banner .calendar {
    width: 300px;
    height: 500px;
    position: absolute;
    right: 120px;
    bottom: -460px;
    z-index: 200; }
    .image-banner .calendar .price-container {
      padding: 0 20px 0 20px;
      background-color: #444; }
      .image-banner .calendar .price-container .price {
        display: flex;
        color: #ffffff;
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        align-items: center;
        height: 40px;
        justify-content: space-between; }
        .image-banner .calendar .price-container .price .exact-amount {
          display: flex;
          align-items: center;
          font-size: 18px; }
          .image-banner .calendar .price-container .price .exact-amount .icon {
            color: #ffb400; }
        .image-banner .calendar .price-container .price .per-night {
          font-size: 14px; }
    .image-banner .calendar .instant-book {
      height: 180px;
      background-color: #ffffff;
      border-style: solid;
      border-color: #c1c1c1;
      border-width: 1px;
      padding: 0 20px 0 20px; }
      .image-banner .calendar .instant-book .calendar-description {
        display: flex;
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        justify-content: space-between;
        padding: 25px 0 20px 0;
        align-items: center; }
        .image-banner .calendar .instant-book .calendar-description .dates-form {
          width: 70px;
          height: 25px; }
        .image-banner .calendar .instant-book .calendar-description .guests-drop-down {
          display: flex;
          align-items: center;
          height: 30px;
          border-style: solid;
          border-color: #c1c1c1;
          border-width: 1px;
          justify-content: space-around;
          font-size: 14px; }
    .image-banner .calendar .instant-book-box {
      background-color: #ff5a5f;
      height: 45px;
      border-radius: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      color: #ffffff;
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .image-banner .calendar .instant-book-box .icon {
        color: #ffb400; }
  .image-banner .empty-space-top {
    height: 50px; }
  .image-banner .wish-list {
    height: 130px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 1px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 0 0 0;
    position: relative; }
    .image-banner .wish-list .save-to-wish-list-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-style: solid;
      border-color: #c1c1c1;
      border-width: 1px;
      margin: 0 20px 0 20px; }
      .image-banner .wish-list .save-to-wish-list-btn .icon {
        padding: 0 5px; }
    .image-banner .wish-list .saved {
      text-align: center;
      font-size: 14px; }
    .image-banner .wish-list .wish-list-additional {
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 300px;
      display: flex;
      justify-content: space-around;
      border-style: solid;
      border-color: #c1c1c1;
      border-width: 1px 0 0 0;
      font-size: 14px; }
      .image-banner .wish-list .wish-list-additional .icon {
        padding: 0 5px; }
      .image-banner .wish-list .wish-list-additional .email, .image-banner .wish-list .wish-list-additional .messenger {
        display: flex;
        justify-content: center;
        align-items: center; }
      .image-banner .wish-list .wish-list-additional .messenger {
        border-style: solid;
        border-color: #c1c1c1;
        border-width: 0 1px;
        padding: 0 10px; }
  .image-banner .report-listing {
    display: flex;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 14px; }
    .image-banner .report-listing .icon {
      padding: 5px; }

.property-title {
  /**cleaned up until here! ***/
  display: flex;
  padding: 5px 450px 0 120px;
  height: 175px; }
  .property-title .property-description {
    display: flex;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .property-title .property-description p {
      margin: 0;
      padding: 0; }
    .property-title .property-description .small-box {
      display: flex;
      align-items: baseline; }
      .property-title .property-description .small-box .star-box {
        padding: 0 0 0 10px; }
    .property-title .property-description .icon-caret-down {
      padding: 0 5px 0 5px; }
    .property-title .property-description .icon-box, .property-title .property-description .icon-text-box {
      width: 480px;
      display: flex;
      justify-content: space-around; }
    .property-title .property-description .icon-text-box {
      padding: 5px 0 0 0; }
      .property-title .property-description .icon-text-box p {
        width: 120px;
        text-align: center; }

.property-info {
  background-color: #f5f5f5;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 450px 0 120px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c1c1c1; }
  .property-info h2 {
    font-size: 18px; }
  .property-info .char-container {
    display: flex; }
    .property-info .char-container .liked-characteristics {
      background-color: #dcedec;
      color: #007a87;
      margin: 0 5px;
      border-radius: 1.5px;
      padding: 0 5px;
      height: 25px;
      display: flex;
      align-items: center; }
  .property-info .comments-space {
    padding: 10px 0 10px 0;
    font-size: 14px; }
    .property-info .comments-space .contact-host-letters {
      color: #ff5a5f;
      line-height: 3em; }
  .property-info .description-sections {
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 1px 0 0 0;
    display: flex; }
    .property-info .description-sections .column-one {
      width: 200px; }
    .property-info .description-sections .second-set-columns {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      padding: 20px 0; }
      .property-info .description-sections .second-set-columns .second-set-text, .property-info .description-sections .second-set-columns .text-in-salmon, .property-info .description-sections .second-set-columns .icon-and-text {
        flex: 50%;
        text-align: left; }
      .property-info .description-sections .second-set-columns .icon-and-text {
        display: flex;
        align-items: center; }
        .property-info .description-sections .second-set-columns .icon-and-text .icon {
          padding: 5px; }

.comments-section {
  height: 400px;
  background-color: #ffffff;
  padding: 5px 450px 0 120px; }

.bottom-section {
  background-color: #f5f5f5;
  height: 400px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #c1c1c1; }
  .bottom-section .your-host {
    padding: 5px 450px 0 120px; }
  .bottom-section .property-location {
    padding: 0 120px; }

.footer {
  background-color: #2b2d2e;
  padding: 0 120px;
  height: 500px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ffffff; }
  .footer .top-box-footer {
    display: flex; }
    .footer .top-box-footer .left-top-footer-box {
      flex-grow: 2;
      padding: 15px 20px 0 20px; }
      .footer .top-box-footer .left-top-footer-box .icon {
        color: #757575; }
      .footer .top-box-footer .left-top-footer-box .language, .footer .top-box-footer .left-top-footer-box .currency {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #444;
        color: #f5f5f5;
        padding: 0 7px;
        margin: 20px 0;
        height: 45px; }
    .footer .top-box-footer .right-top-footer-box {
      flex-grow: 3;
      display: flex;
      justify-content: space-around;
      padding: 15px 20px 0 20px;
      text-align: left;
      padding: 0 0 30px 0; }
      .footer .top-box-footer .right-top-footer-box h4 {
        font-size: 18px; }
      .footer .top-box-footer .right-top-footer-box p {
        color: #ffffff;
        font-size: 14px;
        line-height: .5em; }
  .footer .bottom-box-footer {
    height: 60px;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 1px 0 0 0; }
    .footer .bottom-box-footer .footer-icons {
      display: flex;
      justify-content: center;
      padding: 5px 0 0 0; }
      .footer .bottom-box-footer .footer-icons .icon {
        margin: 0 12px;
        padding: 12px 15px;
        border-style: solid;
        border-color: #c1c1c1;
        border-width: 1px;
        border-radius: 40px;
        color: #ffffff; }
    .footer .bottom-box-footer p {
      color: #757575;
      font-size: 14px;
      padding: 10px 0 0 0; }
