/******* COLOR VARIABLES *********/
/* salmon */
/* light salmon */
/* yellow */
/* black */
/*gray*/
/* light green */
/* dark green */
/* white */
/* light gray */
/* dark gray */
/** MY ADDITION!!! **/
/*********** FONT VARIABLES *******************/
/** GENERAL INFORMATION APPLYING TO WHOLE PAGE **/
body {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #484848; }

a.visited {
  color: #484848; }

.star-box {
  padding: 0 0 0 10px;
  position: relative;
  display: flex; }
  .star-box .star-yellow {
    position: absolute;
    left: 10px;
    top: 0;
    color: #ffb400; }
  .star-box .star-gray {
    color: #757575; }

.text-in-salmon {
  color: #ff5a5f; }

p {
  line-height: .75em; }

.title-two {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; }

.three-dots, .middle-dot {
  position: relative;
  top: -.25em;
  padding: 0 3px 0 0; }

.host-basic-info {
  width: 200px; }

.host-avatar {
  width: 90px;
  border-radius: 100%;
  margin: 20px 0 0 0; }
.host-name {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 90px; }

.commenters-avatar {
  width: 70px;
  border-radius: 100%;
  margin: 20px 0 0 60px; }
.commenters-name {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 70px;
  font-size: 14px;
  padding: 0 0 0 60px; }

.description-sections {
  display: flex; }
  .description-sections .column-one {
    width: 200px;
    flex: none;
    /**** !!!! *****/ }
  .description-sections .second-set-columns {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px 0; }
    .description-sections .second-set-columns .second-set-text, .property-info .description-sections .second-set-columns .icon-and-text {
      flex: 50%;
      text-align: left;
      white-space: nowrap; }

/***fixing until here &&&&&& **/
.subtitle-gray {
  color: #757575;
  font-size: 14px; }

.subtitle-black, .property-info #description .guest-access {
  color: black;
  font-size: 14px; }

header .nav-bar {
  display: flex;
  align-items: center;
  height: 70px; }
  header .nav-bar .brand-logo {
    color: #ff5a5f;
    padding: 10px 20px;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 0 1px 0 0; }
  header .nav-bar .back-to {
    display: flex;
    align-items: baseline;
    background-color: #f5f5f5;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 0 1px 0 0;
    padding: 0 25px;
    margin: 0;
    color: #484848;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 5px;
    height: 70px;
    align-items: center;
    font-size: 16px; }
    header .nav-bar .back-to .icon-chevron-left {
      color: #c1c1c1; }
  header .nav-bar .center-nav {
    display: flex;
    align-items: baseline;
    flex: 1 auto;
    justify-content: space-between;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    header .nav-bar .center-nav .where-to {
      display: flex;
      align-items: baseline; }
      header .nav-bar .center-nav .where-to .icon-search {
        color: #c1c1c1;
        padding: 0 15px; }
    header .nav-bar .center-nav .membership {
      border-style: solid;
      border-color: black;
      border-width: 1px;
      padding: 0 5px;
      margin: 0 30px 0 0; }
  header .nav-bar .nav-buttons {
    display: flex;
    height: 69px; }
    header .nav-bar .nav-buttons .navLinks {
      height: 44.5px;
      /**is there a better way to align this?**/
      margin: 0;
      padding: 0;
      padding: 24.5px 0 0 0;
      width: 80px;
      text-align: center;
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      border-style: solid;
      border-width: 0 0 0 1px;
      border-color: #c1c1c1; }

.image-banner {
  background-image: url("../assets/07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  /**** LOOK AT THIS!!***/
  height: 100px;
  width: 100%;
  padding-top: 50%;
  /**** LOOK AT THIS!!***/ }
  .image-banner .calendar {
    width: 300px;
    height: 500px;
    position: absolute;
    right: 120px;
    bottom: -460px;
    z-index: 200; }
    .image-banner .calendar .price-container {
      padding: 0 20px 0 20px;
      background-color: #444; }
      .image-banner .calendar .price-container .price {
        display: flex;
        color: #ffffff;
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        align-items: center;
        height: 40px;
        justify-content: space-between; }
        .image-banner .calendar .price-container .price .exact-amount {
          display: flex;
          align-items: center;
          font-size: 18px; }
          .image-banner .calendar .price-container .price .exact-amount .icon {
            color: #ffb400; }
        .image-banner .calendar .price-container .price .per-night {
          font-size: 14px; }
    .image-banner .calendar .instant-book {
      height: 180px;
      background-color: #ffffff;
      border-style: solid;
      border-color: #c1c1c1;
      border-width: 1px;
      padding: 0 20px 0 20px; }
      .image-banner .calendar .instant-book .calendar-description {
        display: flex;
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        justify-content: space-between;
        padding: 25px 0 20px 0;
        align-items: center; }
        .image-banner .calendar .instant-book .calendar-description .dates-form {
          width: 70px;
          height: 25px; }
        .image-banner .calendar .instant-book .calendar-description .guests-drop-down {
          display: flex;
          align-items: center;
          height: 30px;
          border-style: solid;
          border-color: #c1c1c1;
          border-width: 1px;
          justify-content: space-around;
          font-size: 14px; }
    .image-banner .calendar .instant-book-box {
      background-color: #ff5a5f;
      height: 45px;
      border-radius: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      color: #ffffff;
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .image-banner .calendar .instant-book-box .icon {
        color: #ffb400; }
  .image-banner .empty-space-top {
    height: 50px; }
  .image-banner .wish-list {
    height: 130px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 1px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 0 0 0;
    position: relative; }
    .image-banner .wish-list .save-to-wish-list-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-style: solid;
      border-color: #c1c1c1;
      border-width: 1px;
      margin: 0 20px 0 20px; }
      .image-banner .wish-list .save-to-wish-list-btn .icon {
        padding: 0 5px; }
    .image-banner .wish-list .saved {
      text-align: center;
      font-size: 14px; }
    .image-banner .wish-list .wish-list-additional {
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 300px;
      display: flex;
      justify-content: space-around;
      border-style: solid;
      border-color: #c1c1c1;
      border-width: 1px 0 0 0;
      font-size: 14px; }
      .image-banner .wish-list .wish-list-additional .icon {
        padding: 0 5px; }
      .image-banner .wish-list .wish-list-additional .email, .image-banner .wish-list .wish-list-additional .messenger {
        display: flex;
        justify-content: center;
        align-items: center; }
      .image-banner .wish-list .wish-list-additional .messenger {
        border-style: solid;
        border-color: #c1c1c1;
        border-width: 0 1px;
        padding: 0 10px; }
  .image-banner .report-listing {
    display: flex;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 14px; }
    .image-banner .report-listing .icon {
      padding: 5px; }

.property-title {
  display: flex;
  padding: 5px 450px 0 120px;
  height: 175px; }
  .property-title .property-description {
    display: flex;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .property-title .property-description .title-property-description {
      font-size: 25px;
      padding: 20px 0 0 0; }
    .property-title .property-description .small-box {
      display: flex;
      align-items: baseline;
      padding: 5px 0; }
    .property-title .property-description .icon-caret-down {
      padding: 0 5px 0 5px; }
    .property-title .property-description .icon-box, .property-title .property-description .icon-text-box {
      width: 480px;
      display: flex;
      justify-content: space-around; }
    .property-title .property-description .icon-text-box {
      text-align: center; }
      .property-title .property-description .icon-text-box .text-itself {
        width: 120px; }

.property-info {
  background-color: #f5f5f5;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 450px 0 120px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c1c1c1; }
  .property-info h2 {
    font-size: 18px; }
  .property-info .char-container {
    display: flex; }
    .property-info .char-container .liked-characteristics {
      background-color: #dcedec;
      color: #007a87;
      margin: 0 5px;
      border-radius: 1.5px;
      padding: 0 5px;
      height: 25px;
      display: flex;
      align-items: center; }
  .property-info .comments-space {
    padding: 10px 0 10px 0;
    font-size: 14px; }
    .property-info .comments-space .contact-host-letters {
      color: #ff5a5f;
      line-height: 3em; }
  .property-info .description-sections {
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 1px 0 0 0; }
    .property-info .description-sections .second-set-columns {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      padding: 20px 0; }
      .property-info .description-sections .second-set-columns .second-set-text, .property-info .description-sections .second-set-columns .icon-and-text {
        flex: 50%;
        white-space: nowrap; }
      .property-info .description-sections .second-set-columns .icon-and-text {
        display: flex;
        align-items: center; }
        .property-info .description-sections .second-set-columns .icon-and-text .icon {
          padding: 5px; }
  .property-info #space .text-in-salmon {
    width: 100%; }
  .property-info #prices .half-column {
    width: 50%; }
  .property-info #description .second-column-title {
    padding: 0 0 10px 0; }
  .property-info #description .subtitle-black, .property-info #description .guest-access {
    width: 100%; }
  .property-info #description .guest-access {
    padding: 10px 0 20px 0; }
  .property-info #rules .subtitle-black, .property-info #rules #description .guest-access, .property-info #description #rules .guest-access {
    width: 100%; }
  .property-info #rules .separating-box {
    width: 40px;
    height: 15px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #c1c1c1;
    margin: 0 0 10px 0; }
  .property-info #availability .subtitle-black, .property-info #availability #description .guest-access, .property-info #description #availability .guest-access {
    width: 50%; }
  .property-info .bottom-images .top-box {
    display: flex;
    height: 250px; }
    .property-info .bottom-images .top-box .top-box-image {
      flex: 50%;
      margin: 0 0 3px 3px;
      background-position: center center;
      background-size: cover; }
  .property-info .bottom-images .bottom-box {
    display: flex;
    height: 200px;
    padding: 0 0 30px 0; }
    .property-info .bottom-images .bottom-box-image {
      width: 33.33%;
      /** why does flex not work here? I had to use width!?**/
      margin: 0 0 0 3px;
      background-position: center center;
      background-size: cover; }
      .property-info .bottom-images .bottom-box-image .image-with-hover {
        width: 100%;
        height: 197px;
        padding: 0 0 3px 0;
        position: relative;
        background-position: center center;
        background-size: cover; }
        .property-info .bottom-images .bottom-box-image .image-with-hover .overlay-div {
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 200px;
          z-index: 500; }
          .property-info .bottom-images .bottom-box-image .image-with-hover .overlay-div .hover-text {
            position: absolute;
            color: #ffffff;
            /** couldn't get this to be truly white! **/
            top: 0;
            left: 0;
            z-index: 300;
            height: 105px;
            text-align: center;
            margin: 0 0 0 3px;
            width: 99%;
            padding: 95px 0 0 0; }

.comments-section {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  padding: 5px 450px 0 120px; }
  .comments-section .summary-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 40%;
    padding: 0 15px 0 0; }
  .comments-section .review-section {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 15px 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #c1c1c1; }
    .comments-section .review-section .star-with-review {
      display: flex; }
      .comments-section .review-section .star-with-review .review-title-text {
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px; }
  .comments-section .commenters-section .second-set-columns {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #c1c1c1; }
  .comments-section .commenters-section .helpful-box {
    display: flex;
    padding: 15px 0 0 0;
    justify-content: space-between;
    width: 100%;
    align-items: baseline; }
    .comments-section .commenters-section .helpful-box .helpful {
      width: 70px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      border-style: solid;
      border-width: 1px;
      border-color: #c1c1c1;
      padding: 5px 15px; }
  .comments-section .square-container {
    width: 100%;
    display: flex;
    padding: 0 0 20px 0; }
    .comments-section .square-container .squares {
      border-style: solid;
      border-width: 1px;
      border-color: #c1c1c1;
      margin: 0 10px 0 0;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px; }
      .comments-section .square-container .squares .icon {
        color: #ff5a5f; }
    .comments-section .square-container #first-box {
      background-color: #f5f5f5; }
  .comments-section .view-reviews-box {
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    width: 100%;
    margin: 20px 300px 0 0;
    text-align: center;
    padding: 5px 0; }

.bottom-section {
  background-color: #f5f5f5;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #c1c1c1;
  padding: 0 0 20px 0; }
  .bottom-section .your-host {
    padding: 5px 450px 0 120px; }
    .bottom-section .your-host .title-two {
      padding: 30px 0 10px 0; }
    .bottom-section .your-host .host-in-depth {
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .bottom-section .your-host .host-name {
      width: 100%;
      text-align: left;
      font-size: 20px;
      padding: 0 0 15px 0; }
    .bottom-section .your-host .subtitle-gray {
      padding: 0 0 10px 0; }
    .bottom-section .your-host .description-sections {
      border-color: #c1c1c1;
      border-width: 1px 0 0 0;
      border-style: solid; }
    .bottom-section .your-host .host-in-depth .presentation {
      padding: 0 0 15px 0; }
    .bottom-section .your-host .host-in-depth .response {
      width: 100%; }
    .bottom-section .your-host .host-in-depth .box-with-ratings {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 0 30px 20px 0; }
      .bottom-section .your-host .host-in-depth .box-with-ratings .ratings-box {
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: flex;
        align-items: baseline; }
        .bottom-section .your-host .host-in-depth .box-with-ratings .ratings-box .orange-box {
          background-color: #FFB400;
          color: white;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          margin: 0 5px; }
      .bottom-section .your-host .host-in-depth .box-with-ratings .checkbox {
        display: flex;
        align-items: baseline;
        font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
        padding: 0 0 0 38px; }
        .bottom-section .your-host .host-in-depth .box-with-ratings .checkbox .icon-tag-alt {
          color: #51B164;
          position: absolute;
          top: -15px;
          left: 0; }
    .bottom-section .your-host .host-in-depth .contact-host-button {
      background-color: #ff5a5f;
      flex: 100%;
      color: white;
      align-items: center;
      height: 28px;
      border-radius: 3px;
      margin: 10px 400px 0 0;
      padding: 0 8px;
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      display: flex;
      text-align: center; }
    .bottom-section .your-host #facebook-button {
      padding: 0 0 10px 0;
      margin: 20px 0;
      align-items: baseline;
      border-color: #c1c1c1;
      border-width: 1px 0 0 0;
      border-style: solid;
      font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .bottom-section .your-host #facebook-button .facebook-button {
        background-color: #29487D;
        flex: 100%;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        height: 28px;
        border-radius: 3px;
        margin: 10px 0 0 0;
        padding: 0 12px 0 8px;
        font-size: 14px; }
  .bottom-section .suggestions .subtitle-black, .bottom-section .suggestions .property-info #description .guest-access, .property-info #description .bottom-section .suggestions .guest-access {
    padding: 0 0 20px 0; }
  .bottom-section .property-location {
    padding: 0 120px; }
    .bottom-section .property-location .title-two {
      padding: 15px 0; }
    .bottom-section .property-location .similar-listings-properties {
      display: flex;
      justify-content: space-between;
      padding: 0 10px 0 0;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: #c1c1c1;
      height: 300px; }
      .bottom-section .property-location .similar-listings-properties .property-box {
        width: 32%;
        position: relative; }
        .bottom-section .property-location .similar-listings-properties .property-box .icon-heart {
          color: #757575;
          position: absolute;
          top: 20px;
          right: 30px;
          z-index: 300; }
        .bottom-section .property-location .similar-listings-properties .property-box .icon-heart-alt {
          color: white;
          position: absolute;
          top: 20px;
          right: 30px;
          z-index: 400; }
        .bottom-section .property-location .similar-listings-properties .property-box .property-image {
          width: 100%; }
        .bottom-section .property-location .similar-listings-properties .property-box .host-image {
          position: absolute;
          top: 180px;
          right: 20px;
          width: 60px;
          border-radius: 100%;
          border-style: solid;
          border-color: #ffffff;
          border-width: 2px; }
        .bottom-section .property-location .similar-listings-properties .property-box .similar-listing-price {
          position: absolute;
          top: 130px;
          left: 0;
          background-color: red;
          width: 50px;
          height: 33px;
          font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
          padding: 7px 0 0 7px;
          color: #ffffff;
          background-color: #2b2d2e;
          opacity: 0.8;
          font-size: 18px; }

.footer {
  background-color: #2b2d2e;
  background-image: url("../assets/background-swirls.png");
  padding: 0 120px;
  height: 500px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ffffff; }
  .footer .top-box-footer {
    display: flex; }
    .footer .top-box-footer .left-top-footer-box {
      flex-grow: 2;
      padding: 15px 20px 0 20px; }
      .footer .top-box-footer .left-top-footer-box .icon {
        color: #757575; }
      .footer .top-box-footer .left-top-footer-box .language, .footer .top-box-footer .left-top-footer-box .currency {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #444;
        color: #f5f5f5;
        padding: 0 7px;
        margin: 20px 0;
        height: 45px; }
    .footer .top-box-footer .right-top-footer-box {
      flex-grow: 3;
      display: flex;
      justify-content: space-around;
      padding: 15px 20px 0 20px;
      text-align: left;
      padding: 0 0 30px 0; }
      .footer .top-box-footer .right-top-footer-box h4 {
        font-size: 18px; }
      .footer .top-box-footer .right-top-footer-box p {
        color: #ffffff;
        font-size: 14px;
        line-height: .5em; }
  .footer .bottom-box-footer {
    height: 60px;
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 1px 0 0 0; }
    .footer .bottom-box-footer .footer-icons {
      display: flex;
      justify-content: center;
      padding: 5px 0 0 0; }
      .footer .bottom-box-footer .footer-icons .icon {
        margin: 0 12px;
        padding: 12px 15px;
        border-style: solid;
        border-color: #c1c1c1;
        border-width: 1px;
        border-radius: 100%;
        color: #ffffff; }
    .footer .bottom-box-footer p {
      color: #757575;
      font-size: 14px;
      padding: 10px 0 0 0; }
